/* General */
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    background-color: #161616;
    user-select: none;
}

h1 {
    margin: 2px;
}

h2 {
    margin: 2px;
}

hr {
    margin-bottom: 20px;
}

hr {
    height: 5px;
    border-width: 0;
    background-color: #262729;
    width: 50%;
    text-align: left;
    margin-left: 0;
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: white;
}




/* Scrollbar */
html::-webkit-scrollbar-track {
    background-color: #161616;
    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 8px;
    background-color: #161616;
}

html::-webkit-scrollbar-thumb {
    background-color: #c9c8c8;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #b3b2b2;
}



@keyframes slide-from-top {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/* Section 1 */
.section1 {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 0;
    width: 100%;
    height: 40vw;
    min-height: 500px;
    color: aliceblue;
    background-color: #161616;

}

.box {
    flex: 1;
    transition: opacity 0.2s ease;
}

.box1 {
    text-align: left;
    margin: auto;
    padding-left: 3%;
    z-index: 3;
}

.box2 {
    text-align: right;
    margin: auto;
    padding-right: 5%;
}

.box1-info {
    margin-top: 10%;
    background-color: #202020;
    border: 1px solid #262729;
    height: fit-content;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}

.box1-intro {
    padding: 10px;
    padding-right: 15%;
}

/* Responsive */
@media (max-width: 700px) {
    .container {
        flex-direction: row;
    }

    .box {
        flex: 3;
        width: auto;
    }

    .box1 {
        padding-right: 3%;
    }

    .box1-intro {
        padding: 10px;
    }

    .box1-info {
        width: auto;
    }

    .box2 {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        padding-right: 0%;
        z-index: 2;
    }

    .box2 img {
        opacity: 0.1;
    }

    .imgTitle {
        font-size: medium !important;
    }

    .imgRole, .imgInfo, .imgDesc {
        font-size: xx-small;
    }

    .imgIcons {
        font-size: xx-small;
    }

    br {
        display:none;
    }
}

/* Section 2 */
.section2 {
    background-color: #101010;
    height: auto;
    min-height: 900px;
    padding-bottom: 10px;
    width: 100%;
}

.s_title {
    font-weight: 300;
    font-size: x-large;
    display: block;
    color: white;
    padding: 30px;
    position: relative;
    width: fit-content;
}

.s_title::before {
    content: "";
    width: 30%;
    position: absolute;
    top: 70px;
    border-bottom: 5px solid #262729;
}

/* Projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.project {
    position: relative;
    max-width: 590px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #202020d1;
    border-radius: 10px;
}

.project:hover .project_image {
    opacity: 0.3;
    filter: blur(2px);
}

.project:hover .imgHoverContent {
    opacity: 1;
}

.project:nth-child(1) {
    animation-delay: 0.0s;
}

.project:nth-child(2) {
    animation-delay: 0.5s;
}

.project:nth-child(3) {
    animation-delay: 1.0s;
}

.project:nth-child(4) {
    animation-delay: 1.5s;
}

.project:nth-child(5) {
    animation-delay: 2s;
}

.slide>* {
    opacity: 0;
    animation: slide-from-top ease-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.project_image {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 10px;
}


.imgHoverContent {
    flex-direction: row;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 3%;
    left: 2%;
    -ms-transform: translate(-50%, -50%);
    color: white;
    height: 97%;
    width: 98%;
    background: rgb(0, 0, 0);
    background: linear-gradient(345deg, rgba(0, 0, 0, 0.31976540616246496) 0%, rgba(255, 255, 255, 0) 33%);
    border-radius: 10px;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.imgTitle {
    display: block;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.623);
}


.roleBox {
    display: block;
    margin-top: 2%;
}

.imgRole {
    border: 2px solid;
    border-radius: 10px;
    padding: 3px 10px;
    width: fit-content;
}

.iconify {
    margin-right: 6px;
}

.imgDesc {
    display: block;
    margin-top: 10px;
    margin-left: 2px;
}

.imgIcons {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 1px;

}

.imgInfo {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    left: 1px;
    flex-wrap: wrap;
}

.footer {
    background-color: #0a0a0a;
    height: auto;
    min-height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    padding: 10px 30px;
}